*{
  margin: 0;
  padding: 0;
}

html, body{
  height: 100%;
  background-color: gray;
  backdrop-filter: blur(6px);
}

#main{
  overflow: auto;
  padding-bottom: 100px;
  background-color: gray;
}

.nav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	opacity: .9;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.7s;
}
.nav a {
	display: block;
	padding: 20px 30px;
	font-size: 25px;
	text-decoration: none;
	color: #ccc;
}
.nav a:hover {
	color: #fff;
	transition: 0.4s;
}
.nav .close {
	position: absolute;
	top: 0;
	right: 22px;
	margin-left: 50px;
	font-size: 30px
}
.nav .avatar {
  border-radius: 100%;
  display: inline-block;
  margin: 0 2em 0;
  padding: 0.5em;
  border: solid 1px rgba(255, 255, 255, 0.25);
  background-color: rgba(255, 255, 255, 0.075);
}

.nav .avatar img {
  border-radius: 100%;
  display: block;
  width: 10em;
}

#content {
	padding: 20px;
	transition: margin-left 0.7s;
	overflow: hidden;
	width: 100%;
}
#outer-content{
  margin-top: 200px;
}

.home-container{
  overflow: auto;
  height: 100px;
  padding-bottom:370px;
  align-content: center;
}

.home-container h1{
  text-align: center;
}

.home-container h2{
  text-align: center;
}

.home-container p{
  text-align: center;
}

.home-container .avatar {
  border-radius: 100%;
  display: inline-block;
  margin: 0 2em 0;
  padding: 0.5em;
  border: solid 1px rgba(255, 255, 255, 0.25);
  background-color: rgba(255, 255, 255, 0.075);
}

.home-container .avatar img {
  border-radius: 100%;
  display: block;
  width: 10em;
}

.container{
  position: relative;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px;
}
.container .card{
  position: relative;
  height: 250px;
  background: #fff;
  display: flex;
  width: 45%;
  margin: 30px 0;
}
.container .card .imgbx{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5 ease-in-out;
}

.container .card:hover .imgbx{
  width: 150px;
  height: 150px;
  left:-75px;
  top: calc(50% - 75px);
  transition: 0.5s ease-in-out;
  background: blue;
}
.container .card:hover .imgbx::before{
  content: attr(data-text);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 6em;
  color: rgba(255,255,255,.05);
  font-weight: 700;
}

.container .card .imgbx img{
  max-width: 100px;
  transition: 0.5s  ease-in-out;
}

.container .card:hover .imgbx img{
  width: 75px;
}
.container .card .content{
  position: absolute;
  right: 0;
  width: calc(100%-75px);
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .card .content h2{
  margin-bottom: 5px;
  font-size: 24px;
  text-transform:
}

.container .card .content h3{
  margin-bottom: 5px;
  font-size: 12px;
  color: gray;
}

.container .card .content a{
  display: inline-block;
  margin-top:10px;
  padding: 5px 10px;
  background: #333;
  text-decoration: none;
  color: #fff;
}

@media (max-width: 1120px) {
  .container{
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .container .card{
    width: 400px;
  }
  #main{
    margin-left: 100px;
  }
 
}

@media (max-width:768px) {
  .container .card{
    width: 100px;
    flex-direction: column;
    height: auto;
  }
  .container .card .imgbx{
    position: relative;
  }
  .container .card .imgbx,.container .card:hover .imgbx{
    width: 100%;
    height: 200px;
    left: 0;
  }
  .container .card .imgbx img,.container .card:hover .imgbx img{
    max-width: 100px;
  }
  .container .card .content{
    float: center;
  }
}

#footer {
  height: 50px;
  margin-top: -20px;
  background-color: grey;
  position: relative;
  text-align: center;
  clear:both;
  bottom: 0;
	padding: 4em 0 4em 0;
}
#footer a{
  text-decoration: none;
  color: black;
}
#footer li{
  list-style-type: none;
}
#footer:before {
	content: '';
  border-top: solid 1px rgba(255, 255, 255, 0.25);
  width: 10em;
  display: block;
  margin: 0 auto 3em auto;
}
